@import "tailwindcss";

@keyframes scanLine {
  0% { top: 10%; opacity: 0.8; }
  50% { top: 90%; opacity: 0.8; }
  100% { top: 10%; opacity: 0.8; }
}

.animate-scan-line {
  animation: scanLine 2.5s ease-in-out infinite;
}